body{
padding:0;
margin:0;
background-image:url("/Images/background.jpg");
background-size:cover;
/*background-image:url("\\studentstore.student.nci.col\redirection$\x11115122\Desktop\New%20folder%20 (2)\ca2\ca2\Images\background.jpg");*/
}


#outerDiv{
    position:relative;
    margin:0 auto;
    top:80px;
    margin-bottom:60px;
/*background-color:black;*/


/*get background image, try background-size:cover;*/
}

#headerDiv{
background-color:pink;
position:fixed;
z-index:999999;
top:0;
width:100%;
}

#leftDiv{
position: fixed;
left: 5px;
top:25%;
width: 200px;
min-height:300px;
background-color:blue;
float:left;
margin:10px;

}

#innerDiv{
background-color:yellow;
width:700px;
margin: 0 auto;
position:relative;
padding:5px;
min-height:100%;
}

#mainDiv{
clear:both;
margin:5px;
background-color:green;
min-height:600px;
}

#footerDiv{
background-color:red;
width:100%;
position:fixed;
bottom:0;
z-index:999999;
}

.leftImage{
float:left;
margin:5px;
padding:5px;
}

.rightImage{
float:right;
margin:5px;
padding:5px;
}

p{
padding:5px;
}


#formDiv
{
padding:20px;
background-color:yellow;
top:30%;
left:25%;

position:absolute;
}

.feedback-input {
	color:blue;
	font-family: Helvetica, Arial, sans-serif;
	font-weight:bolder;
	font-size: 20px;
	background-color: black;
	padding: 20px;
	margin-bottom: 10px;
	width:250px;
	border: 3px solid red;
}

.feedback-input:focus{
	background: green;	
	border: 3px solid purple;
	color:pink;
	padding: 20px;
}

.focused{
	color:red;
	border:red solid 3px;
}


#submitButton:hover{
	background-color: red;
	color: white;
}
	
.submit:hover {
	color: pink;
}





















