body{
padding:0;
margin:0;
}


#outerDiv{
background-color:black;
}

#headerDiv{
background-color:pink;
position:fixed;
z-index:999999;
top:0;
width:100%;
}
#leftDiv{
position: absolute;
left: 0px;
width: 200px;
min-width:100px;
min-height:300px;
background-color:blue;
float:left;
margin:10px;

}

#innerDiv{
background-color:yellow;
width:700px;
margin: 0 auto;
position:relative;
padding:5px;
}

#mainDiv{
clear:both;
margin:5px;
background-color:green;
min-height:300px;
}

#footerDiv{
background-color:red;
width:100%;
position:fixed;
bottom:0;
z-index:999999;
}

.leftImage{
float:left;
margin:5px;
padding:5px;
}

.rightImage{
float:right;
margin:5px;
padding:5px;
}

p{
padding:5px;
}