body{
padding:0;
margin:0;
}


#outerDiv{
background-color:black;
}

#headerDiv{
background-color:pink;
}

#innerDiv{
background-color:yellow;
width:700px;
margin: 0 auto;
}
#leftDiv{
width:100px;
min-height:300px;
background-color:blue;
float:left;
margin:10px;
}
#mainDiv{
margin:5px;
background-color:green;
min-height:300px;
}

#footerDiv{
background-color:red;
}